<!DOCTYPE html>
<html lang="en">
    <%-include("../ecommerce/partials/head.ejs")%>
    <%-include("../ecommerce/partials/header.ejs")%>
    <body>
      
    <main>  <%-body%>  </main>
    <%-include("../ecommerce/partials/footer.ejs")%>
    <%-include("../ecommerce/partials/scriptTags.ejs")%>
</body>
</html>

<img src="" alt="">