<!DOCTYPE html>
<html lang="en">
    <%-include("../admin/partials/head.ejs")%>
    <body>
    <%-include("../admin/partials/sidebar.ejs")%>
    <%-include("../admin/partials/navbar.ejs")%>
    <main>  <%-body%>  </main>
    <%-include("../admin/partials/footer.ejs")%>
    <%-include("../admin/partials/scriptTags.ejs")%>
</body>
</html>
